<!-- exercise_suggestion.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .centered-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>
  <title>Exercise Suggestion</title>
</head>
<body>
  <div class="container centered-content">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>Exercise Suggestion for {{ name }}</h1>
        <ul>
          {% for exercise in random_exercises %}
            <li>{{ exercise }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
